Repository dqmis/ir2: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: no-commit-to-branch
  - repo: https://github.com/srstevenson/nb-clean
    rev: 2.4.0
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells
          - --preserve-cell-outputs
          - --
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: local
    hooks:
      - id: poetry-check
        name: validate pyproject.toml
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$
      - id: poetry-lock
        name: check poetry.lock
        entry: poetry lock --check
        language: system
        always_run: true
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        pass_filenames: false
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy --follow-imports=silent
        language: system
        pass_filenames: false
        types: [python]

added support for all datasets
  infrence.py
Due: isort, black, flake8, mypy

Update infrence.py
  infrence.py
Due: isort, black, flake8, mypy

Adding initial refactoring
  infrence.py
  load_dataset.py
  pyproject.toml
  src/dataset_loader.py
  src/inference_model.py
  src/main.py
  test.py
  tests/integration/test_inference_model.py
Due: poetry-check, isort, black, flake8, mypy

Updated code
  ir2/__init__.py
  ir2/dataset_loader.py
  ir2/inference_model.py
  pyproject.toml
  tests/integration/test_inference_model.py
Due: poetry-check, isort, black, flake8, mypy

squashed all commits within the branch
  .gitignore
  ir2/config.py
  ir2/dataset_loader.py
  ir2/measures.py
  ir2/utils.py
  poetry.lock
  pyproject.toml
  runs/quora.yaml
  scripts/infrence.py
Due: poetry-check, isort, black, flake8, mypy

Added files
  .gitignore
Due: none

Updated readme
  readme.md
Due: none

Removed file
  infrence.py
Due: isort, black, flake8, mypy

Added gaussian noise
  ir2/config.py
  ir2/inference_model.py
  readme.md
  runs/quora.yaml
  scripts/infrence.py
Due: isort, black, flake8, mypy

feat: ✨ initial vec2text reproducibility tests for GTR on NQ
  docs/reproducing_experiments_12_nov.md
  environment.yaml
  ir2/config.py
  poetry.lock
  runs/nq.yaml
  scripts/gtr_example_inference.py
  scripts/inference.py
  scripts/reproduce_evaluation.py
  scripts/reproduce_experiments.py
Due: isort, black, flake8, mypy

Added snellius setup
  .gitignore
  environment.yaml
  out/.gitkeep
  pyproject.toml
  readme.md
  snellius.job
Due: poetry-check

trying BEIR
  infrence.py
  test BEIR.py
Due: isort, black, flake8, mypy

update to BEIR
  .gitignore
  test BEIR.py
Due: isort, black, flake8, mypy

Update test BEIR.py
  test BEIR.py
Due: isort, black, flake8, mypy

Tried to integrate code of master branch
  .gitignore
  ir2/measures.py
  scripts/inversion_attacks.py
  test BEIR.py
Due: isort, black, flake8, mypy

Delete infrence.py
  infrence.py
Due: isort, black, flake8, mypy

Update inversion_attacks.py
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

update noise generation to be consistent with paper
  ir2/config.py
  ir2/inference_model.py
  readme.md
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

update attacks
  runs/attack.yaml
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

made lambda list based instead of one float for better loops
  ir2/config.py
  runs/attack.yaml
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

squashed all commits within the branch
  ir2/config.py
  ir2/inference_model.py
  ir2/vec2text_measures.py
  pyproject.toml
  runs/nq.yaml
  scripts/inference.py
  scripts/inversion_attacks.py
  scripts/reproduce_evaluation.py
Due: poetry-check, isort, black, flake8, mypy

change
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

File reset
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

minor changes
  runs/nq.yaml
Due: none

feat: table 1 reproduction
  .gitkeep
  ir2/config.py
  ir2/inference_model.py
  ir2/vec2text_measures.py
  jobs/reproduce_table_1.job
  jobs/run_reproduce_job.sh
  jobs/snellius.job
  poetry.lock
  runs/table_1/gtr-nq/vec2text/nq-0-nucleus.yaml
  runs/table_1/gtr-nq/vec2text/nq-0.yaml
  runs/table_1/gtr-nq/vec2text/nq-1.yaml
  runs/table_1/gtr-nq/vec2text/nq-20.yaml
  runs/table_1/gtr-nq/vec2text/nq-50-sbeam-8.yaml
  runs/table_1/gtr-nq/vec2text/nq-50.yaml
  scripts/reproduce_evaluation.py
Due: isort, black, flake8, mypy

update to code
  .python-version
  environment.yaml
  ir2/config.py
  ir2/inference_model.py
  ir2/measures.py
  out/scifact.pickle
  runs/attack.yaml
  scripts/inversion_attacks.py
  snellius.job
Due: isort, black, flake8, mypy

fixed mistake
  ir2/config.py
  ir2/measures.py
Due: isort, black, flake8, mypy

updated ds
  ir2/dataset_loader.py
  runs/nq.yaml
Due: isort, black, flake8, mypy

Adding seq len analysis
  notebooks/data/seq_len_exps.csv
  notebooks/data/tab2.csv
  notebooks/seq_len.ipynb
  notebooks/seq_len_exps.pdf
Due: none

cleaned up code
  ir2/config.py
  ir2/quantization.py
  out/results.pickle
  out/scifact.pickle
  runs/attack_quant.yaml
  scripts/inversion_attacks.py
Due: isort, black, flake8, mypy

update
  runs/attack.yaml
  runs/attack_quant.yaml
Due: none

removed an unused dataset from the list
  runs/attack.yaml
  runs/attack_quant.yaml
Due: none

Adding new nbs
  notebooks/token_size.ipynb
  poetry.lock
  pyproject.toml
Due: poetry-check

Updating README
  readme.md
Due: none
