Repository dqmis/ir2: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: no-commit-to-branch
  - repo: https://github.com/srstevenson/nb-clean
    rev: 2.4.0
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells
          - --preserve-cell-outputs
          - --
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: local
    hooks:
      - id: poetry-check
        name: validate pyproject.toml
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$
      - id: poetry-lock
        name: check poetry.lock
        entry: poetry lock --check
        language: system
        always_run: true
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        pass_filenames: false
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy --follow-imports=silent
        language: system
        pass_filenames: false
        types: [python]

Updated code
  __init__.py
  config.py
  dataset_loader.py
  inference_model.py
  measures.py
  readme.md
  snellius.job
  utils.py
  vec2text_measures.py
Due: isort, black, flake8, mypy

Removing uva connection
  environment.yaml
  jobs/reproduce_table_1.job
  jobs/reproduce_table_2.job
  jobs/seq_len_influence.job
  jobs/snellius.job
  jobs/steps_influence.job
  pyproject.toml
  readme.md
  scripts/inference.py
  scripts/inversion_attacks.py
  scripts/reproduce_evaluation.py
Due: poetry-check, isort, black, flake8, mypy

Updated readme
  readme.md
Due: none

Updated pyproject
  pyproject.toml
Due: poetry-check

Updated figure
  .DS_Store
  notebooks/seq_len.ipynb
  notebooks/seq_len_exps.pdf
Due: none

Anon code
  jobs/run_reproduce_job.sh
  jobs/seq_len_influence.job
  jobs/snellius.job
  poetry.lock
  pyproject.toml
  readme.md
  runs/table_1/ada-ms-32/ms-50-sbeam-8.yaml
  runs/table_1/ada-ms-81/ms-50-sbeam-8.yaml
  runs/table_1/gtr-nq/vec2text/nq-50-sbeam-8.yaml
  runs/table_2/quora.yaml
  runs/table_2/robust04.yaml
  runs/table_2/scidocs.yaml
  runs/table_2/scifact.yaml
  runs/table_2/signal1m.yaml
  runs/table_2/trec-news.yaml
  scripts/inference.py
  scripts/inversion_attacks.py
  src/__init__.py
  src/config.py
  src/dataset_loader.py
  src/inference_model.py
  src/measures.py
  src/quantization.py
  src/utils.py
  src/vec2text_measures.py
Due: poetry-check, isort, black, flake8, mypy

Update readme.md
  readme.md
Due: none

Anon code
  docs/reproducing_experiments_12_nov.md
  notebooks/token_size.ipynb
  readme.md
  src/dataset_loader.py
Due: isort, black, flake8, mypy

Updated plots
  .DS_Store
  notebooks/num_steps_vs_beam_width.pdf
  notebooks/num_steps_vs_beam_width_line_chart.pdf
  notebooks/num_steps_vs_beam_width_runtime.pdf
  notebooks/num_steps_vs_beam_width_runtime_size.pdf
  notebooks/num_steps_vs_beam_width_runtime_with_slope.pdf
  notebooks/pareto_front_bleu_vs_runtime.pdf
  notebooks/plots_and_tables.ipynb
  notebooks/seq_len.ipynb
  notebooks/seq_len_exps.pdf
Due: none

Removed merge conflict
  scripts/reproduce_evaluation.py
Due: isort, black, flake8, mypy

Moved all plots into one place
  notebooks/num_steps_vs_beam_width_runtime.pdf
  notebooks/pareto_front_bleu_vs_runtime.pdf
  notebooks/plots.ipynb
  notebooks/seq_len_exps.pdf
Due: none

Uploaded plots
  notebooks/num_steps_vs_beam_width_runtime.pdf
  notebooks/pareto_front_bleu_vs_runtime.pdf
  notebooks/plots.ipynb
  notebooks/seq_len_exps.pdf
Due: none

Added last plot
  notebooks/num_steps_vs_beam_width_runtime.pdf
  notebooks/pareto_front_bleu_vs_runtime.pdf
  notebooks/plots.ipynb
  notebooks/retrieval_vs_bleu.pdf
  notebooks/seq_len_exps.pdf
  poetry.lock
  pyproject.toml
Due: poetry-check

Updated plots
  notebooks/plots.ipynb
  notebooks/retrieval_vs_bleu.pdf
Due: none

Additional anomysation
  jobs/extend_table_1.job
  jobs/reproduce_table_1.job
  jobs/reproduce_table_2.job
  jobs/run_reproduce_job.sh
  jobs/snellius.job
  jobs/steps_influence.job
  notebooks/plots_and_tables.ipynb
  notebooks/seq_len.ipynb
  notebooks/token_size.ipynb
  pyproject.toml
  scripts/reproduce_evaluation.py
  tests/integration/test_inference_model.py
Due: poetry-check, isort, black, flake8, mypy

Removed unused files
  notebooks/num_steps_vs_beam_width.pdf
  notebooks/num_steps_vs_beam_width_bleu_score.pdf
  notebooks/num_steps_vs_beam_width_combined.pdf
  notebooks/num_steps_vs_beam_width_line_chart.pdf
  notebooks/num_steps_vs_beam_width_runtime_size.pdf
  notebooks/num_steps_vs_beam_width_runtime_with_slope.pdf
  notebooks/optimal_bleu_vs_runtime.pdf
Due: none
